/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.inner-container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: fixed; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(92, 89, 89, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.container-content {
  background-color: #f7f310;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid rgb(187, 185, 185);
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 5px #888888;
}

.error {
    color: red;
    text-align: center;
    font-weight: bolder;
}